<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDo</title>
</head>
<body>
  <h2>Notification</h2>
  <p>Would you like to delete?</p>
  <ul>
    <li>
        <h3>{{.todo.Text}}</h3>
        <p>{{.todo.CreatedAt}}</p>
    </li>
  </ul>

  <form action="#" method="post">
    <input type="submit" value="DELETE">
  </form>

  <span><a href="/">Back</a></span>
</body>
</html>